.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.body {
  font-weight: 300;
  color: #282c34;
}

div.bottom {
  text-align: center;
  min-height: 10em;
  align-items: center;
}

html { 
  background: url(https://wallpaperaccess.com/full/38582.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}