/* Components/SlideInText.css */
.slide-in-text {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1.5s ease-in, transform 1.5s ease-in;
  }
  
  .slide-in-text.visible {
    opacity: 1;
    transform: translateX(0);
  }
  