/* Introduction.css */
.intro {
    padding: 80px 20px;
    text-align: center;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%; /* Ensure the container takes full height */
  }
  
  .intro-pane {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%; /* Adjust width as needed */
    max-width: 600px; /* Adjust max-width as needed */
    color: #333; /* Black text */
    text-align: center;
  }
  
  .intro-pane h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  
  .intro-pane p {
    font-size: 1.2em;
    line-height: 1.6;
  }
  